html
  head
    link(href="main.css" rel="stylesheet")
  body
    div(class="container")
        h1= title
        p= body
        h5= date

        form(action="/add-article" method="POST")
            input(type="text" placeholder="Title" name="title")
            textarea(placeholder="Content" name="content")
            input(type="text" placeholder="Firstname Lastname" name="author")
            button(type="submit") Mother beeps
    script(src="index.js")
