html
  head
    meta(name="viewport" content="width=device-width")
    link(href="main.css" rel="stylesheet")
  body
    div(class="container")
        h1= title
        p= body
        h5= date

        form(action="/add-article" method="POST")
            input(type="text" placeholder="Title" name="title")
            textarea(placeholder="Content" name="content")
            input(type="text" placeholder="Name" name="author")
            button(type="submit") S  U  B  M  I  T
    script(src="index.js")
